<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.topcased.requirement.core.supportingEditors">
      <editor
            editorPart="org.eclipse.emf.ecoretools.diagram.part.EcoreDiagramEditor"
            key="org.topcased.requirement.bundle.ecore.editor"
            priority="Medium"
            services="org.topcased.requirement.bundle.ecore.EcoreEditorServices">
      </editor>
   </extension>
   <extension
         point="org.topcased.requirement.core.modelAttachmentPolicy">
      <policy
            class="org.topcased.requirement.bundle.ecore.EcoreAttachmentPolicy"
            extension="ecorediag"
            id="org.topcased.requirement.bundle.ecore.policy">
      </policy>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.emf.ecoretools.diagram.part.EcoreDiagramEditor"
            class="org.topcased.requirement.core.views.RequirementAdapterFactory">
         <adapter
               type="org.topcased.requirement.core.views.upstream.IUpstreamRequirementPage">
         </adapter>
         <adapter
               type="org.topcased.requirement.core.views.current.ICurrentRequirementPage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.topcased.requirement.bundle.ecore.contributor"
            labelProvider="org.eclipse.emf.ecoretools.tabbedproperties.providers.TabbedPropertiesLabelProvider"
            typeMapper="org.eclipse.emf.ecoretools.tabbedproperties.TabbedPropertiesTypeMapper">
         <propertyCategory
               category="org.eclipse.emf.ecoretools"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.emf.ecoretools.diagram">
         <propertyTab
               afterTab="advanced"
               category="advanced"
               id="org.topcased.requirement.bundle.ecore.propertyTab"
               image="icons/current.gif"
               label="Requirement">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.emf.ecoretools.diagram">
         <propertySection
               class="org.topcased.requirement.core.properties.sections.RequirementPropertySection"
               filter="org.topcased.requirement.core.properties.sections.RequirementPropertySection"
               id="org.topcased.requirement.bundle.ecore.propertySection"
               tab="org.topcased.requirement.bundle.ecore.propertyTab">
         </propertySection>
      </propertySections>
   </extension>
   <extension 
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding
            context="org.eclipse.emf.ecoretools.diagram.TypeContext">
         <elementType
               pattern="org\.eclipse\.emf\.ecore\..*">
         </elementType>
         <advice
               ref="org.eclipse.emf.ecore.advice.EModelElement">
         </advice>
         <advice
               ref="org.eclipse.emf.ecore.advice.EObject">
         </advice>
      </binding>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.eclipse.org/emf/2002/Ecore">
         <adviceBinding
               class="org.topcased.requirement.bundle.ecore.helper.advice.EModelElementHelperAdvice"
               id="org.eclipse.emf.ecore.advice.EModelElement"
               inheritance="all"
               typeId="org.eclipse.emf.ecore.EModelElement">
         </adviceBinding>
         <adviceBinding
               class="org.topcased.requirement.bundle.ecore.helper.advice.EObjectHelperAdvice"
               id="org.eclipse.emf.ecore.advice.EObject"
               inheritance="all"
               typeId="org.eclipse.emf.ecore.EObject">
         </adviceBinding>
         <metamodelType
               eclass="EModelElement"
               id="org.eclipse.emf.ecore.EModelElement"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="ecore::EModelElement">
            <param
                  name="semanticHint"
                  value="ecore::EModelElement">
            </param>
         </metamodelType>
      </metamodel>
   </extension>

</plugin>
