<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://inittypes/1.0"
            class="org.topcased.typesmodel.model.inittypes.provider.InittypesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://inittypes/1.0"
            class="org.topcased.typesmodel.model.inittypes.InittypesPackage"
            genModel="model/initTypes.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.topcased.typesmodel.editDeletionParameters"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.types">
                     </test>
                  </iterate></and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.topcased.typesmodel.editDeletionParameters"
            name="Edit deletion parameters">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.topcased.typesmodel.handler.EditDeletionParametersHandler"
            commandId="org.topcased.typesmodel.editDeletionParameters">
      </handler>
   </extension>

</plugin>
