<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.topcased.requirement.core.updateTransformationProvider">
      <Provider
            providerInstance="org.topcased.requirement.current2upstream.files.Cur2UpTransformation$Cur2UpProvider">
      </Provider>
   </extension>

</plugin>
