<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="BatchMode"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="org.topcased.requirement.traceabilitymatrix.batch.BatchModeRunnableApplication">
         </run>
      </application>
   </extension>

</plugin>
