<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.topcased.requirement.core.supportingEditors">
      <editor
            editorPart="org.topcased.modeler.editor.Modeler"
            key="org.topcased.requirement.bundle.topcased.services.topcasedEditorServices"
            priority="Medium"
            services="org.topcased.requirement.bundle.topcased.services.TopcasedEditorServices">
      </editor>
   </extension>
   <extension
         point="org.topcased.requirement.core.modelAttachmentPolicy">
      <policy
            class="org.topcased.requirement.bundle.topcased.resource.TopcasedAttachmentPolicy"
            extension="(.+)di"
            id="org.topcased.requirement.bundle.topcased.resource.TopcasedAttachmentPolicy">
      </policy>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.topcased.modeler.editor.Modeler"
            class="org.topcased.requirement.core.views.RequirementAdapterFactory">
         <adapter
               type="org.topcased.requirement.core.views.upstream.IUpstreamRequirementPage">
         </adapter>
         <adapter
               type="org.topcased.requirement.core.views.current.ICurrentRequirementPage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.topcased.modeler.actionPrecondition">
      <precondition
            action="Delete"
            checker="org.topcased.requirement.bundle.topcased.actions.preconditions.DeleteConfirmationChecker"
            priority="Low">
      </precondition>
      <precondition
            action="DeleteModel"
            checker="org.topcased.requirement.bundle.topcased.actions.preconditions.DeleteConfirmationChecker"
            priority="Low">
      </precondition>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.topcased.modeler.editor.Modeler"
            labelProvider="org.topcased.modeler.editor.properties.ModelerLabelProvider"
            typeMapper="org.topcased.modeler.editor.properties.ModelerTypeMapper">
         <propertyCategory
               category="requirement"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.topcased.modeler.editor.Modeler">
         <propertyTab
               afterTab="org.topcased.requirement.core.advancedTab"
               category="requirement"
               id="org.topcased.requirement.core.requirementTab"
               image="icons/current.gif"
               label="Requirement">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.topcased.modeler.editor.Modeler">
         <propertySection
               class="org.topcased.requirement.core.properties.sections.RequirementPropertySection"
               filter="org.topcased.requirement.core.properties.sections.RequirementPropertySection"
               id="org.topcased.requirement.core.properties.sections.RequirementSection"
               tab="org.topcased.requirement.core.requirementTab">
            <input
                  type="org.eclipse.emf.ecore.EObject">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.topcased.modeler.commandsStackListeners">
      <command
            commandStackListener="org.topcased.requirement.bundle.topcased.resolvers.DeleteCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.bundle.topcased.resolvers.CutCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.bundle.topcased.resolvers.PasteCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.bundle.topcased.resolvers.CopyCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.bundle.topcased.resolvers.RenameCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.bundle.topcased.resolvers.DragAndDropCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.bundle.topcased.resolvers.SetCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.bundle.topcased.resolvers.CreateCurrentReqCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.bundle.topcased.resolvers.ReplaceNodeContainerCommandResolver">
      </command>
   </extension>
   <extension
         point="org.topcased.modeler.duplicationAdapter">
      <adapter
            class="org.topcased.requirement.bundle.topcased.adapters.RequirementDuplicationAdapter"
            metamodel="http://www.topcased.org/SAM/1.3">
      </adapter>
   </extension>

</plugin>
