<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.topcased.requirement.resourceloading.tester.IsCurrentRequirementLoaded"
            id="org.topcased.requirement.resourceloading.isCurrentRequirementLoaded"
            namespace="org.topcased.requirement.core"
            properties="isCurrentRequirementLoaded"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description"
            id="org.topcased.requirement.resourceloading.loadCurrentRequirementRefererence"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.topcased.requirement.resourceloading.handler.LoadCurrentRequirementReferenceResource"
            commandId="org.topcased.requirement.resourceloading.loadCurrentRequirementRefererence">
         <enabledWhen>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.topcased.requirement.core.isCurrentRequirementLoaded">
               </test>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.topcased.requirement.resourceloading.loadCurrentRequirementRefererence"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <or>
                        <adapt
                              type="org.topcased.requirement.core.views.current.model.CurrentRequirementReference">
                        </adapt>
                        <instanceof
                              value="org.topcased.requirement.core.views.current.model.CurrentRequirementReference">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
