<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.topcased.bus.core.transformation">
      <transformation
            id="org.topcased.export.requirement.transformation"
            name="Requirement to Tramway Transformation">
         <ruleFile
               filename="transformation/req2ttm.asm">
         </ruleFile>
         <inParam
               name="IN">
            <transformationMetamodel
                  id="http://org.topcased.requirement/1.0"
                  name="INMETAMODEL">
            </transformationMetamodel>
         </inParam>
         <outParam
               name="OUT">
            <transformationMetamodel
                  id="http://org.topcased.traceability.model"
                  name="OUTMETAMODEL">
            </transformationMetamodel>
         </outParam>
      </transformation>
   </extension>
   <extension
         point="org.topcased.bus.core.service">
      <service
            class="org.topcased.requirement.export.service.ReqToTtmExportService"
            id="org.topcased.requirement.export.service1"
            name="Requirement to Tramway Export Service">
         <serviceType
               category="Model Import/Export"
               id="org.topcased.export.requirement.transformation"
               name="Requirement to Tramway Transformation"
               parentId="org.topcased.service.export"/>
         <outputParam>
            <parameter
                  description="Output of the transformation."
                  id="org.topcased.requirement.export.parameter1"
                  kind="EObject"
                  name="Model">
            </parameter>
         </outputParam>
         <listInputParam>
            <parameter
                  description="A Requirement Model"
                  id="org.topcased.requirement.export.parameter2"
                  kind="EObject"
                  name="IN">
            </parameter></listInputParam>
      </service>
   </extension>

</plugin>
