<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.topcased.requirement.teamhistory.historyHandler">
      <historyHandler
            class="org.topcased.requirement.teamhistory.svn.SVNHistoryHandler"
            priority="30">
      </historyHandler>
   </extension>

</plugin>
