<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.topcased.modeler.commandsStackListeners">
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.ChangeGraphEdgeCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.MovePortCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.ChangeGraphNodeCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.MoveElementCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.DeletePortCommandResolver">
      </command>
   </extension>
   <extension
         point="org.topcased.requirement.core.dropRestriction">
      <metamodel
            uri="http://www.topcased.org/SAM/1.3">
         <object
               value="org.topcased.sam.Port">
         </object>
         <object
               value="org.topcased.sam.MultiPort">
         </object>
         <object
               value="org.topcased.sam.AbstractState">
         </object>
      </metamodel>
   </extension>
   <extension
         point="org.topcased.requirement.core.specificDropAction">
      <metamodel
            uri="http://www.topcased.org/SAM/1.3">
         <action
               class="org.topcased.requirement.sam.actions.HandleDropOnFlow"
               element="org.topcased.sam.Flow"
               id="HandleDropOnFlow">
         </action>
      </metamodel>
   </extension>
   <extension
         point="org.topcased.requirement.core.modelAttachmentPolicy">
      <policy
            class="org.topcased.requirement.sam.policies.SAMAttachmentPolicy"
            enableFor="sam"
            id="SAMAttachmentPolicy"
            uri="http://www.topcased.org/SAM/1.3">
      </policy>
   </extension>

</plugin>
