<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.topcased.modeler.commandsStackListeners">
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.ChangeGraphEdgeCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.MovePortCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.ChangeGraphNodeCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.MoveElementCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.DeletePortCommandResolver">
      </command>
   </extension>

</plugin>
