<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.topcased.modeler.commandsStackListeners">
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.ChangeGraphEdgeCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.MovePortCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.ChangeGraphNodeCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.MoveElementCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.sam.resolvers.DeletePortCommandResolver">
      </command>
   </extension>
   <extension
         point="org.topcased.requirement.core.specificDropAction">
      <metamodel
            uri="http://www.topcased.org/SAM/1.3">
         <action
               class="org.topcased.requirement.sam.actions.HandleDropOnFlow"
               element="org.topcased.sam.Flow"
               id="HandleDropOnFlow">
         </action>
      </metamodel>
   </extension>
   <extension
         point="org.topcased.requirement.core.modelAttachmentPolicy">
      <policy
            class="org.topcased.requirement.sam.policies.SAMAttachmentPolicy"
            extension="samdi"
            id="SAMAttachmentPolicy">
      </policy>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.topcased.facilities.views"
            class="org.topcased.requirement.sam.views.preview.PreviewView"
            icon="icons/preview.gif"
            id="org.topcased.requirement.sam.preview"
            name="Preview">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.topcased.modeler.sam.editor.SAMEditor"
            class="org.topcased.requirement.sam.views.PreviewViewAdapterFactory">
         <adapter
               type="org.topcased.requirement.sam.views.preview.IPreviewPage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.topcased.requirement.core.dropRestriction">
      <model
            extension="samdi">
         <object
               value="org.topcased.sam.Port">
         </object>
         <object
               value="org.topcased.sam.MultiPort">
         </object>
         <object
               value="org.topcased.sam.AbstractState">
         </object>
      </model>
   </extension>
   <extension
         point="org.topcased.requirement.core.requirementCountingAlgorithm">
      <algorithm
            class="org.topcased.requirement.sam.policies.SAMRequirementCountingAlgorithm"
            description="The next index is computed and stored on each hierarchical element so that current requirements created on a new container implies the reset of the index. By default, next index receives the value 10. With this algorithm, we recomment to use the following naming pattern : E_{project name}_{hierarchical element}_{index} since the index is strictly dependant of the hierachical element."
            name="SAM Counting Algorithm">
      </algorithm>
   </extension>
   <extension
         point="org.topcased.requirement.core.requirementIdentifierVariables">
      <variables
            class="org.topcased.requirement.sam.policies.SAMRequirementIdentifierVariables"
            id="SAM Requirement Variables">
      </variables>
   </extension>

</plugin>
