<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="dropRestriction" name="Requirement Drop Restriction in target Models" schema="schema/dropRestriction.exsd"/>
   <extension-point id="specificDropAction" name="Define creation of specific actions on requirement drop" schema="schema/specificDropAction.exsd"/>
   <extension-point id="modelAttachmentPolicy" name="enable to attach a topcased model to a requirement model" schema="schema/modelAttachmentPolicy.exsd"/>
   <extension-point id="requirementIdentifierDefinition" name="Provide ways to construct requirement identifiers" schema="schema/requirementIdentifierDefinition.exsd"/>
   <extension-point id="requirementTransformation" name="Extension point to implement transformation from file to requirement" schema="schema/requirementTransformation.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Upstream Requirement"
            icon="icons/current.gif"
            category="org.topcased.facilities.views"
            class="org.topcased.requirement.core.views.upstream.UpstreamRequirementView"
            id="org.topcased.requirement.core.upstreamView">
      </view>
      <view
            category="org.topcased.facilities.views"
            class="org.topcased.requirement.core.views.current.CurrentRequirementView"
            icon="icons/current.gif"
            id="org.topcased.requirement.core.currentView"
            name="Current Requirement">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.topcased.facilities.preferences.TopcasedPreferencePage"
            class="org.topcased.requirement.core.preferences.RequirementPreferencePage"
            id="org.topcased.requirement.preferences"
            name="Requirement">
      </page>
      <page
            category="org.topcased.requirement.preferences"
            class="org.topcased.requirement.core.preferences.UpstreamPreferencePage"
            id="org.topcased.requirement.preferences.upstream"
            name="Upstream Settings">
      </page>
      <page
            category="org.topcased.requirement.preferences"
            class="org.topcased.requirement.core.preferences.CurrentPreferencePage"
            id="org.topcased.requirement.preferences.current"
            name="Current Settings">
      </page>
      <page
            category="org.topcased.requirement.preferences"
            class="org.topcased.requirement.core.preferences.NamingRequirementPreferencePage"
            id="org.topcased.requirement.preferences.naming"
            name="Current Naming Format">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.topcased.requirement.core.preferences.RequirementPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.topcased.facilities.newWizards"
            class="org.topcased.requirement.core.wizards.NewRequirementModel"
            icon="icons/current.gif"
            id="org.topcased.requirement.upstream.view.wizard1"
            name="Requirements">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            Create a new requirements model
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Cut a model object with its children"
            id="org.topcased.requirement.core.cutModelObject"
            name="Cut">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Copy a model object with its children"
            id="org.topcased.requirement.core.copyModelObject"
            name="Copy">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Paste a model object with its children"
            id="org.topcased.requirement.core.pasteModelObject"
            name="Paste">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Undo"
            id="org.topcased.requirement.core.undoAction"
            name="Undo">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Redo"
            id="org.topcased.requirement.core.redoAction"
            name="Redo">
      </command>
            <command
            description="Create Anonymous Requirement"
            id="org.topcased.requirement.core.CreateAnonymousRequirementCommand"
            name="Create Anonymous Requirement">
      </command>
      <command
            description="Create Current Requirement"
            id="org.topcased.requirement.core.CreateCurrentRequirementCommand"
            name="Create Current Requirement">
      </command>
   </extension>
   <!-- TODO : see why there is a conflict with global binding -->
   <!--extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.topcased.requirement.core.cutModelObject"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="org.topcased.requirement.core.copyModelObject"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="org.topcased.requirement.core.pasteModelObject"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="org.topcased.requirement.core.undoAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Z">
      </key>
      <key
            commandId="org.topcased.requirement.core.redoAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Y">
      </key>
   </extension-->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.topcased.requirement.core.decorators.UpstreamRequirementDecorator"
            id="org.topcased.requirement.core.decorators.upstream"
            label="Upstream Requirement Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="ttm.Requirement">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.topcased.facilities.preferences.property.TopcasedPreferencePage"
            class="org.topcased.requirement.core.preferences.NamingRequirementPreferencePage"
            id="org.topcased.requirement.preferences.property.naming"
            name="Requirements naming format">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.topcased.modeler.duplicationAdapter">
      <adapter
            class="org.topcased.requirement.core.listeners.RequirementDuplicationAdapter"
            metamodel="http://www.topcased.org/SAM/1.2">
      </adapter>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.topcased.modeler.editor.Modeler"
            labelProvider="org.topcased.modeler.editor.properties.ModelerLabelProvider"
            typeMapper="org.topcased.modeler.editor.properties.ModelerTypeMapper">
         <propertyCategory
               category="requirement"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.topcased.modeler.editor.Modeler">
         <propertyTab
               afterTab="org.topcased.requirement.core.advancedTab"
               category="requirement"
               id="org.topcased.requirement.core.requirementTab"
               label="Requirement">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.topcased.modeler.editor.Modeler">
         <propertySection
               class="org.topcased.requirement.core.properties.sections.RequirementPropertySection"
               id="org.topcased.requirement.core.properties.sections.RequirementSection"
               tab="org.topcased.requirement.core.requirementTab">
            <input
                  type="org.eclipse.emf.ecore.EObject">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.topcased.requirement.core.contributor"
            labelProvider="org.topcased.requirement.core.providers.RequirementModelerLabelProvider"
            typeMapper="org.topcased.modeler.editor.properties.ModelerTypeMapper">
         <propertyCategory
               category="model">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.topcased.requirement.core.contributor">
         <propertyTab
               category="model"
               id="org.topcased.requirement.core.modelTab"
               label="Model">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="org.topcased.requirement.core.advancedTab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.topcased.requirement.core.contributor">
         <propertySection
               class="org.topcased.requirement.core.properties.sections.IdentifiedElementIdentifierPropertySection"
               id="org.topcased.requirement.core.properties.sections.IdentifiedElementIdentifierPropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.IdentifiedElement">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.topcased.requirement.core.properties.sections.IdentifiedElementIdentifierPropertySection"
               class="org.topcased.requirement.core.properties.sections.IdentifiedIElementDescriptionPropertySection"
               id="org.topcased.requirement.core.properties.sections.IdentifiedIElementDescriptionPropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.IdentifiedElement">
            </input>
         </propertySection>
         <propertySection
               class="org.topcased.requirement.core.properties.sections.AttributeNamePropertySection"
               id="org.topcased.requirement.core.properties.sections.AttributeNamePropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.Attribute">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.topcased.requirement.core.properties.sections.AttributeNamePropertySection"
               class="org.topcased.requirement.core.properties.sections.ObjectAttributeValuePropertySection"
               id="org.topcased.requirement.core.properties.sections.ObjectAttributeValuePropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.ObjectAttribute">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.topcased.requirement.core.properties.sections.ObjectAttributeValuePropertySection"
               class="org.topcased.requirement.core.properties.sections.AttributeLinkPartialPropertySection"
               id="org.topcased.requirement.core.properties.sections.AttributeLinkPartialPropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.AttributeLink">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.topcased.requirement.core.properties.sections.AttributeNamePropertySection"
               class="org.topcased.requirement.core.properties.sections.TextAttributeSingleValuePropertySection"
               filter="org.topcased.requirement.core.properties.filters.TextAttributeSingleValueFilter"
               id="org.topcased.requirement.core.properties.sections.TextAttributeSingleValuePropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.TextAttribute">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.topcased.requirement.core.properties.sections.AttributeNamePropertySection"
               class="org.topcased.requirement.core.properties.sections.TextAttributeMultiValuePropertySection"
               filter="org.topcased.requirement.core.properties.filters.TextAttributeMultiValueFilter"
               id="org.topcased.requirement.core.properties.sections.TextAttributeMultiValuePropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.TextAttribute">
            </input>
         </propertySection>
         <propertySection
               class="org.topcased.requirement.core.properties.sections.ConfiguratedAttributeNamePropertySection"
               id="org.topcased.requirement.core.properties.sections.ConfiguratedAttributeNamePropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.ConfiguratedAttribute">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.topcased.requirement.core.properties.sections.ConfiguratedAttributeNamePropertySection"
               class="org.topcased.requirement.core.properties.sections.ConfiguratedAttributeTypePropertySection"
               id="org.topcased.requirement.core.properties.sections.ConfiguratedAttributeTypePropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.ConfiguratedAttribute">
            </input>
         </propertySection>
         <!--propertySection
               afterSection="org.topcased.requirement.core.properties.sections.ConfiguratedAttributeTypePropertySection"
               class="org.topcased.requirement.core.properties.sections.ConfiguratedAttributeAttributeValuePropertySection"
               filter="org.topcased.requirement.core.properties.filters.ConfiguratedAttributeFilter"
               id="org.topcased.requirement.core.properties.sections.ConfiguratedAttributeValuePropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.ConfiguratedAttribute">
            </input>
         </propertySection-->
         <propertySection
               class="org.topcased.requirement.core.properties.sections.AttributeValueNamePropertySection"
               id="org.topcased.requirement.core.properties.sections.AttributeValueNamePropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.AttributeValue">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.topcased.requirement.core.properties.sections.AttributeValueNamePropertySection"
               class="org.topcased.requirement.core.properties.sections.DefaultAttributeValuePropertySection"
               id="org.topcased.requirement.core.properties.sections.DefaultAttributeValuePropertySection"
               tab="org.topcased.requirement.core.modelTab">
            <input
                  type="org.topcased.requirement.AttributeValue">
            </input>
         </propertySection>
         <propertySection
               class="org.topcased.tabbedproperties.sections.AdvancedPropertySection"
               id="org.topcased.requirement.core.AdvancedSection"
               tab="org.topcased.requirement.core.advancedTab">
            <input
                  type="org.topcased.requirement.IdentifiedElement">
            </input>
            <input
                  type="org.topcased.requirement.Attribute">
            </input>
            <input
                  type="org.topcased.requirement.ConfiguratedAttribute">
            </input>
            <input
                  type="org.topcased.requirement.AttributeValue">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.topcased.requirement.core.internal.TopcasedRequirementPerspectiveFactory"
            icon="icons/ModelingPerspective.gif"
            id="org.topcased.requirement.core.perspective"
            name="Topcased Requirement">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.topcased.requirement.core.CreateCurrentRequirementCommand"
               icon="icons/current.gif"
               label="Create Current Requirement"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.topcased.modeler.edit.IModelElementEditPart">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.topcased.requirement.core.CreateAnonymousRequirementCommand"
               icon="icons/anonymous.gif"
               label="Create Free Text"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.topcased.modeler.edit.IModelElementEditPart">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.topcased.requirement.core.handlers.CreateCurrentRequirementHandler"
            commandId="org.topcased.requirement.core.CreateCurrentRequirementCommand">
      </handler>
      <handler
            class="org.topcased.requirement.core.handlers.CreateAnonymousRequirementHandler"
            commandId="org.topcased.requirement.core.CreateAnonymousRequirementCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.topcased.modeler.editor.Modeler"
            class="org.topcased.requirement.core.views.RequirementAdapterFactory">
         <adapter
               type="org.topcased.requirement.core.views.upstream.IUpstreamRequirementPage">
         </adapter>
         <adapter
               type="org.topcased.requirement.core.views.current.ICurrentRequirementPage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.topcased.modeler.commandsStackListeners">
      <command
            commandStackListener="org.topcased.requirement.core.resolvers.DeleteCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.core.resolvers.CutCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.core.resolvers.PasteCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.core.resolvers.CopyCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.core.resolvers.RenameCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.core.resolvers.DragAndDropCommandResolver">
      </command>
      <command
            commandStackListener="org.topcased.requirement.core.resolvers.SetNameCommandResolver">
      </command>
   </extension>

</plugin>
